<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixun.yixun_backend.mapper.AdministratorsMapper">

    <resultMap id="BaseResultMap" type="com.yixun.yixun_backend.entity.Administrators">
            <id property="administratorId" column="ADMINISTRATOR_ID" jdbcType="INTEGER"/>
            <result property="administratorName" column="ADMINISTRATOR_NAME" jdbcType="VARCHAR"/>
            <result property="administratorPhone" column="ADMINISTRATOR_PHONE" jdbcType="BIGINT"/>
            <result property="administratorCode" column="ADMINISTRATOR_CODE" jdbcType="VARCHAR"/>
        <result property="administratorEmail" column="ADMINISTRATOR_EMAIL" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ADMINISTRATOR_ID,ADMINISTRATOR_NAME,ADMINISTRATOR_PHONE,
        ADMINISTRATOR_CODE,ADMINISTRATOR_EMAIL
    </sql>

    <select id="selectRandomOne"  resultType="com.yixun.yixun_backend.entity.Administrators">
        SELECT * From yixun_administrators ORDER BY RAND() LIMIT 1
    </select>
</mapper>
