<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixun.yixun_backend.mapper.FundOutMapper">

    <resultMap id="BaseResultMap" type="com.yixun.yixun_backend.entity.FundOut">
            <id property="fundOutId" column="FUND_OUT_ID" jdbcType="INTEGER"/>
            <result property="administratorId" column="ADMINISTRATOR_ID" jdbcType="INTEGER"/>
            <result property="ammount" column="AMMOUNT" jdbcType="INTEGER"/>
            <result property="fundOutUsage" column="FUND_OUT_USAGE" jdbcType="VARCHAR"/>
        <result property="fundOutTime" column="FUND_OUT_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        FUND_OUT_ID,ADMINISTRATOR_ID,AMMOUNT,
        FUND_OUT_USAGE,FUND_OUT_TIME
    </sql>
</mapper>
