<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixun.yixun_backend.mapper.IncomeMapper">

    <resultMap id="BaseResultMap" type="com.yixun.yixun_backend.entity.Income">
            <id property="incomeId" column="INCOME_ID" jdbcType="INTEGER"/>
            <result property="userId" column="USER_ID" jdbcType="INTEGER"/>
            <result property="ammount" column="AMMOUNT" jdbcType="DOUBLE"/>
            <result property="incomeTime" column="INCOME_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        INCOME_ID,USER_ID,AMMOUNT,
        INCOME_TIME
    </sql>
</mapper>
