<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixun.yixun_backend.mapper.VolApplyMapper">

    <resultMap id="BaseResultMap" type="com.yixun.yixun_backend.entity.VolApply">
            <id property="volApplyId" column="VOL_APPLY_ID" jdbcType="INTEGER"/>
            <result property="userId" column="USER_ID" jdbcType="INTEGER"/>
            <result property="isreviewed" column="ISREVIEWED" jdbcType="VARCHAR"/>
            <result property="specialty" column="SPECIALTY" jdbcType="VARCHAR"/>
            <result property="background" column="BACKGROUND" jdbcType="VARCHAR"/>
            <result property="applicationTime" column="APPLICATION_TIME" jdbcType="TIMESTAMP"/>
            <result property="administratorId" column="ADMINISTRATOR_ID" jdbcType="INTEGER"/>
            <result property="career" column="CAREER" jdbcType="VARCHAR"/>
            <result property="ispass" column="ISPASS" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        VOL_APPLY_ID,USER_ID,ISREVIEWED,
        SPECIALTY,BACKGROUND,APPLICATION_TIME,
        ADMINISTRATOR_ID,CAREER,ISPASS
    </sql>
</mapper>
