<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixun.yixun_backend.mapper.VolActivityMapper">

    <resultMap id="BaseResultMap" type="com.yixun.yixun_backend.entity.VolActivity">
            <id property="volActId" column="VOL_ACT_ID" jdbcType="INTEGER"/>
            <result property="expTime" column="EXP_TIME" jdbcType="TIMESTAMP"/>
            <result property="addressId" column="ADDRESS_ID" jdbcType="INTEGER"/>
            <result property="needpeople" column="NEEDPEOPLE" jdbcType="INTEGER"/>
            <result property="actPicUrl" column="ACT_PIC_URL" jdbcType="VARCHAR"/>
            <result property="contactMethod" column="CONTACT_METHOD" jdbcType="VARCHAR"/>
            <result property="volInstId" column="VOL_INST_ID" jdbcType="INTEGER"/>
            <result property="releaseTime" column="RELEASE_TIME" jdbcType="TIMESTAMP"/>
            <result property="signupPeople" column="SIGNUP_PEOPLE" jdbcType="INTEGER"/>
            <result property="actContent" column="ACT_CONTENT" jdbcType="VARCHAR"/>
            <result property="volActName" column="VOL_ACT_NAME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        VOL_ACT_ID,EXP_TIME,ADDRESS_ID,
        NEEDPEOPLE,ACT_PIC_URL,CONTACT_METHOD,
        VOL_INST_ID,RELEASE_TIME,SIGNUP_PEOPLE,
        ACT_CONTENT,VOL_ACT_NAME
    </sql>
</mapper>
