<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixun.yixun_backend.mapper.VolActivityMapper">

    <resultMap id="BaseResultMap" type="com.yixun.yixun_backend.entity.VolActivity">
            <id property="volActId" column="VOL_ACT_ID" jdbcType="INTEGER"/>
            <result property="expTime" column="EXP_TIME" jdbcType="TIMESTAMP"/>
            <result property="addressId" column="ADDRESS_ID" jdbcType="INTEGER"/>
            <result property="needpeople" column="NEEDPEOPLE" jdbcType="INTEGER"/>
            <result property="actPicUrl" column="ACT_PIC_URL" jdbcType="VARCHAR"/>
            <result property="contactMethod" column="CONTACT_METHOD" jdbcType="VARCHAR"/>
            <result property="releaseTime" column="RELEASE_TIME" jdbcType="TIMESTAMP"/>
            <result property="signupPeople" column="SIGNUP_PEOPLE" jdbcType="INTEGER"/>
            <result property="actContent" column="ACT_CONTENT" jdbcType="VARCHAR"/>
            <result property="volActName" column="VOL_ACT_NAME" jdbcType="VARCHAR"/>
            <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
            <result property="initiator" column="INITIATOR" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        VOL_ACT_ID,EXP_TIME,ADDRESS_ID,
        NEEDPEOPLE,ACT_PIC_URL,CONTACT_METHOD,
        VOL_INST_ID,RELEASE_TIME,SIGNUP_PEOPLE,
        ACT_CONTENT,VOL_ACT_NAME,END_TIME,INITIATOR
    </sql>

    <select id="selectVolActByVolID" parameterType="java.lang.Integer" resultType="com.yixun.yixun_backend.entity.VolActivity">
        SELECT act.ACT_CONTENT,act.ACT_PIC_URL,act.ADDRESS_ID,act.CONTACT_METHOD,act.EXP_TIME,act.NEEDPEOPLE,act.RELEASE_TIME,act.SIGNUP_PEOPLE,act.SIGNUP_PEOPLE,act.VOL_ACT_ID,act.VOL_ACT_NAME
        FROM yixun_vol_activity act
                 INNER JOIN yixun_recruited re on act.VOL_ACT_ID=re.VOL_ACT_ID
                 INNER JOIN yixun_volunteer vol on vol.VOL_ID=re.VOL_ID
        WHERE re.VOL_ID=#{id}
    </select>
</mapper>
