<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixun.yixun_backend.mapper.VolunteerMapper">

    <resultMap id="BaseResultMap" type="com.yixun.yixun_backend.entity.Volunteer">
            <id property="volId" column="VOL_ID" jdbcType="INTEGER"/>
            <result property="volTime" column="VOL_TIME" jdbcType="INTEGER"/>
            <result property="volUserId" column="VOL_USER_ID" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        VOL_ID,VOL_TIME,VOL_USER_ID
    </sql>

    <select id="selectTopTenVolDTO"  resultType="com.yixun.yixun_backend.dto.VolunteerDTO">
        SELECT vol.VOL_TIME,usr.USER_NAME,usr.USER_HEAD_URL
        FROM yixun_volunteer as vol
                 LEFT JOIN yixun_web_user as usr
                           ON vol.VOL_USER_ID=usr.USER_ID
        ORDER BY vol.VOL_TIME DESC
            LIMIT 10
    </select>
    <select id="selectRandomOne"  resultType="com.yixun.yixun_backend.entity.Volunteer">
        SELECT * From yixun_volunteer ORDER BY RAND() LIMIT 1
    </select>
</mapper>
